.contacto{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Righteous';
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
    
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: #252A2E;
    border: 2px solid #fff;
    border-radius: 30px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto form button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 0;
}
.contacto form button:hover .overlay{
    width: 100%;
    border-radius: 30px;
}
