@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.contenedor_menu{
    background: #EDEDED;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor_menu header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor_menu header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #000000;
    text-decoration: none;
}

.contenedor_menu header ul{
    display: flex;
    list-style: none;
}


.contenedor_menu header nav ul li a{
    text-align: none;
    color: #000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor_menu header nav ul li a:hover{
    color: #1CB698;
}

.nav_responsive{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}


#error {
    color: #ff0000;
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
  }

/* RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav_responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #EDEDED;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #000;
        padding: 10px 0;
    }

    .portfolio .contenedor_encriptador{
        text-align: center;
        width: 100%;
    }
    .portfolio .contenedor_encriptador{
        max-width: 80%;
    }
    .portfolio .contenedor_encriptador img{
        width: 80%;
    }
}


@media screen and (max-width:700px){
    h1{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Righteous';
}
    .inicio .contenido_inicio h1{
        margin-top: auto;
    }
    .sobremi .filcontenido-seccion{
        display: block;
    }

    .skills{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .hobbies{
    display: flex;
    flex-wrap: wrap;      
    }
    .hobbies .contenedor_intereses .interes{
        width: 100px;
        height: 100px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0;
    }
    .formacion .contenedor_formacion{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .portfolio .contenedor_encriptador{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        
    }
    .portfolio .contenedor_encriptador{
        max-width: 80%;
    }
    .portfolio .contenedor_encriptador img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }

    .contacto .fila img{
        display: none;
    }

    .contacto .fila .col{
        width: 100%;
    }
}